.idea

# Backend
**/target/
**/.mvn/
**/*.log
**/*.tmp
**/*.bak
**/*.swp
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/HELP.md
**/src/main/resources/application.yml

# Frontend
haeuserbuch_frontend/node_modules/
haeuserbuch_frontend/dist/
haeuserbuch_frontend/.nuxt/
haeuserbuch_frontend/.output/
haeuserbuch_frontend/.cache/

# Environment variables and secrets
env-dev
nginx/.htpasswd

# OS
.DS_Store
Thumbs.db

# Database dumps
/*.sql

# Keycloak realm
keycloak/realm.json
