.idea

# Backend
**/target/
**/.mvn/
**/*.log
**/*.tmp
**/*.bak
**/*.swp
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/HELP.md
**/src/main/resources/application.properties

# Frontend
haeuserbuch_frontend/node_modules/
haeuserbuch_frontend/dist/
haeuserbuch_frontend/.nuxt/
haeuserbuch_frontend/.output/
haeuserbuch_frontend/.cache/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Database dumps
/*.sql
