# Database access
DB_NAME=
DB_USER=
DB_PASSWORD=

# API endpoint
NUXT_API_BASE_URL=
NUXT_TILESERVER_API_URL=

# Host volume paths
WORKSPACE=
BACKUPS=

# Server port
PORT_NGINX=

# Keycloak-related settings
KEYCLOAK_ISSUER_URL=
NUXT_SESSION_PASSWORD=
NUXT_OAUTH_KEYCLOAK_CLIENT_SECRET=
NUXT_OAUTH_KEYCLOAK_CLIENT_ID=
NUXT_OAUTH_KEYCLOAK_SERVER_URL=
NUXT_OAUTH_KEYCLOAK_REALM=
NUXT_OAUTH_KEYCLOAK_REDIRECT_URL=
