@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-tabs-tab-active-border-color: #1E293B !important;
    --p-tabs-tab-active-color: #1E293B !important;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.montserrat-headline {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.roboto-plain {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.roboto-italic {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
